.header-items {
    border-bottom: 1px solid #a1a1a1;
    &__wrapper {
        display: flex;
        justify-content: right;
        height: 71px;
    }

    &__item {
        padding: 25px 20px;
        color: #fff;
        line-height: 20px;
        text-decoration: none;
        transition: border .2s;

        &:hover {
            border-bottom: solid 1px #fff;
        }
    }
}