.about-us-img {
    width: 100%;

    &__image {
        background-image: url("../img/projects.jpg");
        background-repeat: no-repeat;
        box-shadow: 0 0 10px rgba(111, 111, 111, .25);
        border-radius: 30px;
        width: calc(100% - 100px);
        height: calc(100% - 100px);

        @include mq-zero-and-screen-small {
            display: none;
        }
    }
}