- var item_nav = ['главная', 'наши проекты', 'услуги', 'новости', 'контакты'];
- var item_mainLinks = ['главная', 'наши проекты', 'наши услуги', 'контакты'];
- var item_ourProjects = ['росНано', 'сколково', 'проект Восток', 'ТЭЦ Калининграда'];
- var item_socialLinks = ['VK.com', 'instargram', 'facebook', 'twitter'];