- var item_nav = ['Главная', 'Наши проекты', 'Услуги', 'Новости', 'Контакты'];
- var item_mainLinks = ['Главная', 'Наши проекты', 'Наши услуги', 'Контакты'];
- var item_ourProjects = ['РосНано', 'Сколково', 'Проект Восток', 'ТЭЦ Калининграда'];
- var item_socialLinks = ['VK.com', 'Instargram', 'Facebook', 'Twitter'];