.about-us-project {
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

        @include mq-block-none-small {
            transform: scale(1.05);
        }
    }

    &__wrapper {
        margin: 60px 0 0 0;
        padding: 10px 15px;
    }

    &__number {
        display: flex;
    }

    &__icon {
        width: 30px;
        height: 40px;
        fill: #4985FF;
    }

    &__num {
        font-size: 36px;
        padding: 0 0 0 20px;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 25px;
        color: #999;
    }
}