.subscribe-form-text {
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    &__subtitle {
        line-height: 25px;
        text-align: center;
        color: #999999;
    }
}