.subscribe-form-text {
    &__title {
        padding: 0 0 15px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    &__subtitle {
        padding: 0 0 25px 0;
        line-height: 25px;
        text-align: center;
        color: #999999;
    }
}