.all-projects {
    background-color: #F6F6F8;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 90px 0 130px 0;
    }

    &__wrap-btn {
        display: flex;
        justify-content: center;
    }
}