.about-us-guarantee {
    &__wrapper {
        display: flex;
        padding: 0 0 90px 0;
        border-bottom: 1px solid rgba(161, 161, 161, .5);

        @include mq-block-none-small {
            padding: 0 0 40px 0;
        }
    }

    &__left {
        width: 57%;
        padding: 50px 0 0 0;

        @include mq-block-none-small {
            width: 100%;
            padding: 0;
        }
    }
}