.our-services-service {
    &__wrapper {
        display: flex;
        padding: 5px 5px;
        border-radius: 30px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__img {
        background-image: url("../img/service.svg");
        width: 110px;
        height: 110px;
    }

    &__subject {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        display: block;
    }

    &__text {
        width: 222px;
        padding: 45px 0 0 17px;
        font-size: 14px;
        line-height: 22px;
        color: #999999;
    }
}