.our-services-service {
    &__wrapper {
        display: flex;
        width: 353px;
        padding: 5px 5px;
        border-radius: 30px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        @include mq-zero-and-screen-small {
            padding: 10px 0;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__img {
        flex-shrink: 0;
        width: 110px;
        height: 110px;

        @include mq-zero-and-screen-small {
            width: 80px;
            height: 80px;
        }
    }

    &__subject {
        font-size: 18px;
        line-height: 22px;
        color: #000;
        display: block;

        @include mq-zero-and-screen-small {
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__text {
        padding: 45px 0 0 17px;
        font-size: 14px;
        line-height: 22px;
        color: #999;

        @include mq-zero-and-screen-small {
            padding: 25px 0 0 10px;
            font-size: 12px;
            line-height: 19px;
        }
    }
}