.all-projects-project {
    .all-projects-project__image {
        width: 255px;
        height: 255px;
        padding: 0 0 30px 0;
        background-image: url("../img/code.jpg");
        background-repeat: no-repeat;
    }
}