.footer-items-contact {
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 255px;
    }

    &__title {
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
    }

    &__link {
        display: flex;
        padding: 10px 0;
        font-size: 14px;
        color: #999;
        fill: #999;
        text-decoration: none;
        transition: .5s;

        &:hover {
            color: $fontRedHover;
            fill: $fontRedHover;
        }
    }

    &__image {
        width: 15px;
        height: 15px;
        padding: 0 10px 0 0;
    }
}