.our-projects {
    background: #F6F6F8;

    &__wrapper {
        padding: 100px 0 70px 0;
    }

    &__guarantee {
        display: flex;
        padding: 0 0 90px 0;
        border-bottom: 1px solid rgba(161, 161, 161, .5);
    }

    &__text {
        width: 57%;
        padding: 50px 0 0 0;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        padding: 0 30px 20px 0;
    }

    &__desc {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        padding: 0 160px 20px 0;
    }

    &__link {
        color: #4985FF;
        transition: .5s;

        &:hover {
            color: #ff3a26;
        }
    }

    &__img {
        background-image: url("../img/projects.jpg");
        background-repeat: no-repeat;
        box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
        width: 495px;
        height: 395px;
    }

    &__projects {
        display: flex;
        justify-content: space-around;
    }

    &__project {
        margin: 60px 0 0 0;
        padding: 10px 15px;
        border-radius: 30px;
        transition: .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__number {
        display: flex;
    }

    &__icon {
        background-image: url("../img/web-programming.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
    }

    &__num {
        font-size: 36px;
        padding: 0 0 0 20px;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
    }

}