.about-us-text {
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        padding: 0 30px 20px 0;

        @include mq-zero-and-screen-small {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__text {
        line-height: 25px;
        color: #999;
        padding: 0 160px 20px 0;

        @include mq-zero-and-screen-small {
            padding: 0 0 20px 0;
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__link {
        display: block;
        color: $fontBlueLink;
        transition: .5s;

        &:hover {
            color: $fontRedHover;
        }
    }
}