.about-us-text {
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        padding: 0 30px 20px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 25px;
        color: #999999;
        padding: 0 160px 20px 0;
    }

    &__link {
        color: #4985FF;
        transition: .5s;

        &:hover {
            color: #ff3a26;
        }
    }
}