section.subscribe
    .container
        .subscribe__wrapper
            form(action='#').subscribe-form
                .subscribe-form__wrapper
                    .subscribe-form-text
                        .subscribe-form-text__title Подпишись на рассылку
                        .subscribe-form-text__subtitle Полезные статьи, акции, новости - получите все это сейчас!
                    .subscribe-form-button
                        .subscribe-form-button__wrapper
                            input(type='email' placeholder='Ваш e-mail').subscribe-form-button__email
                            button(type='button').subscribe-form-button__btn Подписаться
                    .subscribe-form-spam
                        .subscribe-form-spam__desc Мы не шлем спам, и не передаем никому ваши данные.