// Контейнер для разрешения больше 1800px
@media (min-width: $screen-extra-large) {

}

// Контейнер для разрешения больше 1200px
@media (min-width: $screen-large) and (max-width: $screen-extra-large - 1px) {
    .container {
        width: 1150px;
        margin: 0 auto;
    }

    .nav__wrapper {
        width: 1150px;
        margin: 0 auto;
    }
}

// Контейнер для разрешения больше 1024px
@media (min-width: $screen-medium) and (max-width: $screen-large - 1px) {

}

// Контейнер для разрешения больше 768px
@media (min-width: $screen-small) and (max-width: $screen-medium - 1px) {

}

// Контейнер для разрешения больше 480px
@media (min-width: $screen-extra-small) and (max-width: $screen-small - 1px) {

}

// Контейнер для разрешения больше 360px
@media (min-width: 0) and (max-width: $screen-extra-small - 1px) {

}